<div class="col d-flex justify-content-center">
    <button id={{idString}} class="col tile" deleteTarget={{id}}><i class="deleteButton" id={{idString}}>X</i> <div class="pillName" id={{idString}}>{{rx_name}}</div></button>
</div>
